:root {
    --apricot: #EFBE8A;
    --dirty-white: #f2f2f2;
    --dim-gray: #595959;
    --darker-gray-2: #3d3d3d;
    --darker-gray-1: #333333;
    --silver: #bfbfbf;
    --gray: #8c8c8c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,  sans-serif;
}

body {
    background-color: #1f1f1f;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

.container > *:not(:first-child) {
    margin-top: 15vw;
    padding: 0 20px;
}

.container .header-text {
    margin-bottom: 40px;
}

/* first wireframe */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    position: absolute;
    width: 100vw;
}

.brand {
    display: flex;
    align-items: center;
}

.brand-name {
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 5px;
    color: var(--dirty-white);
}

.header-container {
    display: flex;
}

.header-container a {
    margin-left: 10px;
}

.header-container img {
    width: 1.5rem;
}

.data-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

.data-container .social {
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: sideways-lr;

}

.data-container .social > * {
    color: var(--gray);
    font-size: 0.75rem;
    margin-top: 15px;
}

.data-container .info-container {
    grid-column: 1 / 4;
    padding: 20px 15px;
}

.data-container .info-container > * {
    margin-top: 15px;
}

.data-container .title {
    color: var(--dirty-white);
    text-transform: uppercase;
    font-size: 2.5rem;
}

.data-container .text {
    color: #BFBFBF;
    font-size: 1.5rem;
}

.data-container .price {
    font-weight: 600;
    color: var(--apricot);
    font-size: 1.5rem;
}

.data-container .btn-container {
    padding-top: 10px;
}

.data-container .btn-container > * {
    padding: 1.25rem 2rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 0;
    font-weight: 600;
}

.data-container .purchase {
    background-color: var(--darker-gray-2);
    color: #fff;
}

.data-container .discover {
    background-color: var(--silver);
    color: var(--dim-gray);
}

.data-container img {
    /* display: block; */
    padding-top: 75px;
    background-color: var(--apricot);
    grid-column: 3;
    height: auto;
}

/* second wireframe  */
#featured {
    display: flex;
    flex-direction: column;
}

#featured .header-text {
    border-top: 1px solid var(--apricot);
    color: var(--dirty-white);
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    align-self: center;
}

.featured-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-content: center;
    gap: 30px;
    max-width: 1000px;
}

.featured-grid .watch-container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 2fr 1fr;
    border: 1px solid var(--dim-gray);
    background-color: var(--darker-gray-1);
}

.featured-grid img {
    margin: auto;
    padding-top: 30px;
}

.featured-grid .text {
    background-color: var(--apricot);
    writing-mode: sideways-lr;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 10px 5px;
    color: #fff;
    font-weight: 500;
    font-size: 0.5rem;
    justify-self: center;
    align-self: self-end;
}

.featured-grid .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    grid-column: 2;
}

.featured-grid .info-container > * {
    margin-top: 10px;
}

.featured-grid .info-container .name {
    text-transform: uppercase;
    color: var(--dirty-white);
}

.featured-grid .info-container .price {
    color: var(--apricot);
    font-weight: 600;
}

.featured-grid .info-container .purchase {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .featured-grid {
        margin: 40px auto 0;
    }
}

/* third wireframe */
.story {
    display: flex;
    flex-direction: column;
}

.story-container {
    display: flex;
    flex-direction: column;
}

.story .header-text {
    border-top: 1px solid var(--apricot);
    color: var(--dirty-white);
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
    align-self: center;
}

.story .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.story .info-container {
    padding: 0 25px;
}

.story .info > .title {
    color: var(--dirty-white);
}

.story .info > .text {
    margin-top: 20px;
    color: var(--silver);
}

.story .info-container .discover {
    padding: 20px 32px;
    font-size: 0.9375rem;
    background-color: var(--darker-gray-2);
    border: 0;
    color: #fff;
    margin-top: 30px;
    /* cursor: pointer; */
}

.story img {
    margin: 50px 40px 0;
    box-shadow: -50px 50px var(--apricot);
}

/* fourth wireframe */
#products {
    display: flex;
    flex-direction: column;
}

#products .header-text {
    border-top: 1px solid var(--apricot);
    color: var(--dirty-white);
    text-transform: uppercase;
    font-weight: 500;
    align-self: center;
    padding-top: 20px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    margin: 0 15px;
    max-width: 660px;
}

.products-grid .product {
    display: grid;
    grid-template-columns: 35px 1fr 35px;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    border: 1px solid var(--dim-gray);
    background-color: var(--darker-gray-1);
    text-align: center;
    padding-top: 15px;
}

.products-grid .product img {
    margin: auto;
    grid-column: 2;
}

.products-grid .name {
    text-transform: uppercase;
    color: var(--dirty-white);
}

.products-grid .price {
    color: var(--apricot);
    font-weight: 600;
}

.products-grid .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2 / 4;
    grid-column: 2;
}

.products-grid .info-container > * {
    margin-top: 5px;
}

.products-grid .product img:last-child {
    background-color: var(--darker-gray-2);
    padding: 9px;
    grid-column: 3;
    grid-row: 3;
}


/* fifth wireframe */
.testimonial {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.testimony-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.testimony-container > img:first-child {
    padding: 10px;
    background-color: var(--darker-gray-2);
}

.testimony-container .text {
    margin-top: 10px;
    align-self: center;
    color: var(--silver);
}

.testimony-container .date {
    font-size: 0.9375em;
    color: var(--dirty-white);
    margin-top: 10px;
}

.testimony-container .person-name {
    color: var(--dirty-white);
}

.testimony-container .occupation {
    font-size: 0.8125rem;
    color: var(--silver);
}

.arrow-container {
    margin-top: 25px;
}

.arrow-container img {
    padding: 5px;
    background-color: var(--darker-gray-2);
    margin-right: 20px;
}

.testimony-container, .person {
    margin-top: 20px;
}

.testimonial > img {
    margin: 80px 50px 0 0;
    box-shadow: 50px -50px var(--apricot);
    align-self: center;
}


/* sixth wireframe */
#new-arrivals {
    display: flex;
    flex-direction: column;
}

#new-arrivals .header-text {
    border-top: 1px solid var(--apricot);
    color: var(--dirty-white);
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
    align-self: center;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-height: 320px;
    overflow: hidden;
}

.products-container .watch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--dim-gray);
    background-color: var(--darker-gray-1);
    padding: 15px 0;
}

.products-container .watch {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    width: 100%;
}

.products-container .watch img {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    justify-self: center;
}

.products-container .name {
    text-transform: uppercase;
    color: var(--dirty-white);
}

.products-container .price {
    margin-top: 5px;
    color: var(--apricot);
    font-weight: 600;
}

.products-container .purchase {
    display: none;
}

.products-container .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products-container .info {
    text-align: center;
}

.products-container .info-container > * {
    margin-top: 5px;
}

.products-container .text {
    background-color: var(--apricot);
    padding: 10px 5px;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 0.5rem;
    grid-column: 3 / 4;
}

/* seventh wireframe */
.newsletter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--apricot);
    padding: 75px 20px;
    margin: 25px 0;
}

.newsletter-container .info-container {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.newsletter-container .title {
    color: #2e2e2e;
    text-align: center;
    font-size: 1.5rem;
}

.newsletter-container .text {
    color: var(--dim-gray);
    font-size: 0.9375rem;
    text-align: center;
}

.newsletter-container .input-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.newsletter-container .input-container > * {
    padding: 20px 32px;
    margin-top: 10px;
    border: 0;
    width: 300px;
}

.newsletter-container .text, .newsletter-container .input-container {
    margin-top: 20px;
}

.input-container .subscribe {
    background-color: var(--darker-gray-2);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

/* eighth wireframe */
.footer-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--darker-gray-1);
    padding: 30px 0;
}

.footer-container [class$="container"] li, .icon-container [class^="fa"] {
    margin-top: 10px;
}

.footer-container div:not(:first-child) {
    margin-top: 20px;
}

.footer-title, .social {
    font-size: 1.25rem;
    color: var(--dirty-white);
}

.footer-title + ul, .about-container a, .icon-container [class^="fa"] {
    font-size: 0.9375rem;
    color: var(--silver);
}

.icon-container {
    display: flex;
}

.icon-container [class^="fa"] ~ i {
    margin-left: 10px;
}

.footer-text {
    display: block;
    font-size: 0.75rem;
    color: var(--gray);
    text-align: center;
    padding: 40px 50px 30px;
}

.footer-text i {
    margin-right: 5px;
}

@media only screen and (min-width: 645px) {
    .data-container img {
        width: 100%;
    }
}

@media only screen and (min-width: 700px) {
    .products-grid {
        margin: 40px auto 0; 
    }
}

@media only screen and (min-width: 700px) {
    .testimonial {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .testimony-container {
        max-width: 360px;
        flex: 1;
    }

    .testimonial > img {
        flex: 1;
        max-width: 480px;
    }
}


@media only screen and (min-width: 768px) {
    /* story */
    .story .info-container {
        flex-direction: row-reverse;
        align-items: center;
    }
    
    .story img {
        flex: 1;
    }

    /* newsletter */
    .newsletter-container {
        flex-direction: row;
        align-items: center;
        max-width: 850px;
        margin: 0 auto;
    }

    .newsletter-container .input-container {
        flex-direction: row;
    }

    .newsletter-container .input-container [type="text"] {
        width: 60%;
    }

    .newsletter-container .input-container [type="button"] {
        width: 40%;
    }

    .newsletter-container .info-container {
        max-width: 60%;
        align-items: flex-start;
    }

    .newsletter-container .header-text, .newsletter-container .text {
        padding: 0;
    }

    .input-container {
        flex-direction: row;
    }

    /* footer */
    .footer-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer .footer-container > div {
        margin-top: 0;
    }
}

@media only screen and (max-width: 992px) {
    .nav-links {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        padding: 20px 100px;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr;
    }

    .nav-links {
        display: flex;
        align-items: center;
        font-size: 1.0625rem;
        color: var(--dirty-white);
    }

    .nav-link:not(:first-child) {
        margin-left: 50px;
    }
    
    .header-container {
        justify-content: end;
    }
    
    .header-container a {
        margin-left: 20px;
    }
    
    .header-container a:last-child {
        display: none;
    }

    #home {
        padding: 0 90px;
    }

    .data-container {
        grid-template-columns: 40px 2fr 1fr;
    }

    .data-container .info-container {
        grid-row: 1;
        grid-column: 2 / 3;
        align-self: center;
    }

    .data-container .btn-container {
        display: flex;
    }
}

@media only screen and (min-width: 1280px) {
    button {
        cursor: pointer;
    }
    
    .featured-grid .watch-container:hover {
        img {
            transform: scale(0.9, 0.9);
        }
        
        .name, .price {
            display: none;
        }

        .info-container .purchase {
            display: unset;
            color: #fff;
            padding: 20px 32px;
            margin: 15px 0;
            font-size: 0.8125rem;
            font-weight: 500;
            text-transform: uppercase;
            background-color: var(--darker-gray-2);
            border: 0;
        }
    }

    .products-container .watch-container {
        transition: background-color 1s ease-out;
    }

    .products-container .info-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .products-container .watch-container:hover {
        background-color: var(--apricot);
        border-color: var(--darker-gray-1);

        .watch {
            img {
                transform: scale(0.9, 0.9); 
            }

            .text {
                background-color: var(--darker-gray-1);
            }
        }
        
        .name, .price {
            display: none;
        }
        /* .price {
            color: var(--darker-gray-1);
        } */

        .purchase {
            display: inline;
            background-color: var(--darker-gray-2);
            color: #fff;
            padding: 1rem 1.5rem;
            margin: 0;
            font-size: 0.9rem;
            text-transform: uppercase;
            border: 0;
            font-weight: 600;
        }
    }
}